.footer-cec{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    background-color:#3c4298;
    padding-left: 2.5em;
    padding-right: 2.5em;
    }

@media only screen and (max-width: 500px) {
.footer-cec{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    background-color:#3c4298;
    padding-left: 1em;
    padding-right: 1em;
    }
}

@media only screen and (max-width: 500px) {
.mobile{
    display: none;}
}


.footer_content{
    color: whitesmoke;
    font-size: .7em;
}

@media only screen and (max-width: 500px) {
.footer_content{
    color: whitesmoke;
    font-size: .4em;
}
}

.number{
    line-height: 200%;
}

.number2{
    padding-bottom: 1em;   
    font-size: .6em;
    line-height: 200%;
}

@media only screen and (max-width: 500px) {
.number2{
    padding-bottom: 1em;   
    font-weight: 900;
    font-size: .5em;
    line-height: 200%;
}
}

.footer_icons{

}
.heros
{
    font-size: 1.5em;
    color: whitesmoke;
}
.link_hover:hover{
    color: antiquewhite;
}
.link_hover{
    color:#030632;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa-facebook {
    background:red;
    color: white;
}
.fa:hover {
    opacity: 0.7;
}
.social_media{
    color: aqua;
}