.footer-cec{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    background-color:#3c4298;
    }
.footer_content{
    color: whitesmoke;
    font-size: .7em;
}
.footer_icons{

}
.heros
{

    font-size: 1.5em;
    color: whitesmoke;
}
.link_hover:hover{
    color: antiquewhite;
}
.link_hover{
    color:#030632;
}